<!DOCTYPE html>
<html lang="{{lang.lang}}">

<head>
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{lang.ntb_car_rental}}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/icons/ntbfavicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/icons/ntbfavicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/icons/ntbfavicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../assets/icons/ntbfavicon_io/site.webmanifest">

    <!-- Google fonts import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    <!-- Adobe font import -->
    <link rel="stylesheet" href="https://use.typekit.net/juf0kst.css">

    <link rel="stylesheet" href="../../style/variables.css">
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../../style/flag-icons/css/flag-icons.min.css">

    <script defer src="../../js/switchLocationAndLocale.js"></script>
    <script src="../../js/toggleDropdown.js"></script>
    <script src="../../js/dropdownPreventHighlight.js"></script>
    <script src="../../js/listOfZIPCodes.js"></script>
    <script src="../../js/data/localizationData.js"></script>
    <script defer src="../../js/checkOpenHours.js"></script>
    <script defer src="../../js/checkZIPCode.js"></script>
    <script defer src="../../js/vatOnCars.js"></script>
    <script defer src="../../js/hamburgerMenu.js"></script>
    <script defer src="../../js/sortTableRows.js"></script>

    <!-- Make sure this script is loaded last for testing purposes -->
    <script defer src="../../js/loadsLastForTests.js"></script>
</head>

<body>
    <header>
        <h3 style="cursor: pointer;  display: flex; align-items: center;" onclick="window.scrollTo(0, 0); location.reload();">
            <img src="/public/assets/images/NTB_logo.jpg" alt="{{lang.ntb}}" style="margin-right: 8px;">
            <span class="header-text">{{lang.car_rental}} - {{location.location}}</span>
        </h3>

        <nav class="nav-bar">
            <a href="#open-hours-section">{{lang.open_hours}}</a>
            <a href="#our-cars-section">{{lang.our_cars}}</a>
            <a href="#delivery-section">{{lang.delivery}}</a>
            <a href="#closed-dates-container">{{lang.closed_dates}}</a>
        </nav>

        <div class="redirect-dropdowns">
            <!--If script is disabled, insert purely HTML and CSS compatible dropdowns-->
            <noscript>
                <div onclick="toggleDropdown('location')" class="redirect-dropdown" tabindex="0">
                    <div id="location-dropdown-head" class="redirect-dropdown-head">
                        {{#if location.kiruna}}
                        <span class="name">Kiruna</span> 
                        {{else if location.lulea}}
                        <span class="name">Luleå</span> 
                        {{/if}}
                        <img src="../../assets/icons/icons8-expand-arrow-48.png" id="location-dropdown-arrow" alt="down arrow" width="18">
                    </div>
                    <div id="location-dropdown-content" class="redirect-dropdown-content">
                        {{#if location.kiruna}}
                        <a href="../{{location.folder}}">
                            <div class="location-container first">
                                <span class="name">Kiruna</span> 
                            </div>
                        </a>
                        <a href="../{{location.redirect_locations.lulea}}">
                            <div class="location-container last">
                                <span class="name">Luleå</span> 
                            </div>
                        </a>
                        {{else if location.lulea}}
                        <a href="../{{location.folder}}">
                            <div class="location-container first">
                                <span class="name">Luleå</span> 
                            </div>
                        </a>
                        <a href="../{{location.redirect_locations.kiruna}}">
                            <div class="location-container last">
                                <span class="name">Kiruna</span> 
                            </div>
                        </a>
                        {{/if}}
                    </div>
                </div>
                <link rel="stylesheet" href="../../style/no-script-location-dropdown.css">
            </noscript>

            <noscript>
                <div onclick="toggleDropdown('locale')" class="redirect-dropdown" id="locale-dropdown" tabindex="0">
                    <div id="locale-dropdown-head" class="redirect-dropdown-head">
                        {{#if lang.se}}
                        <span class="fi fi-se"></span> <!--Flag icon. The country is specified through fi-xx, where xx is replaced with the country code.-->
                        <span class="name">Svenska</span> 
                        {{else if lang.fi}}
                        <span class="fi fi-fi"></span> <!--Flag icon. The country is specified through fi-xx, where xx is replaced with the country code.-->
                        <span class="name">Suomi</span> 
                        {{else if lang.en}}
                        <span class="fi fi-gb"></span> <!--Flag icon. The country is specified through fi-xx, where xx is replaced with the country code.-->
                        <span class="name">English</span> 
                        {{/if}}
                        <img src="../../assets/icons/icons8-expand-arrow-48.png" id="locale-dropdown-arrow" alt="down arrow" width="18">
                    </div>
                    <div id="locale-dropdown-content" class="redirect-dropdown-content">
                        {{#if lang.se}}
                        <a href="../../se/{{location.folder}}">
                            <div class="language-container first">
                                <span class="fi fi-se"></span>
                                <span class="name">Svenska</span> 
                            </div>
                        </a>
                        <a href="../../fi/{{location.folder}}">
                            <div class="language-container">
                                <span class="fi fi-fi"></span>
                                <span class="name">Suomi</span>
                            </div>
                        </a>
                        <a href="../../en/{{location.folder}}">
                            <div class="language-container last">
                                <span class="fi fi-gb"></span>
                                <span class="name">English</span>
                            </div>
                        </a>
                        {{else if lang.fi}}
                        <a href="../../fi/{{location.folder}}">
                            <div class="language-container first">
                                <span class="fi fi-fi"></span>
                                <span class="name">Suomi</span>
                            </div> 
                        </a>
                        <a href="../../en/{{location.folder}}">
                            <div class="language-container">
                                <span class="fi fi-gb"></span>
                                <span class="name">English</span>
                            </div>
                        </a>
                        <a href="../../se/{{location.folder}}">
                            <div class="language-container last">
                                <span class="fi fi-se"></span>
                                <span class="name">Svenska</span> 
                            </div>
                        </a>
                        {{else if lang.en}}
                        <a href="../../en/{{location.folder}}">
                            <div class="language-container first">
                                <span class="fi fi-gb"></span>
                                <span class="name">English</span>
                            </div>
                        </a>
                        <a href="../../se/{{location.folder}}">
                            <div class="language-container">
                                <span class="fi fi-se"></span>
                                <span class="name">Svenska</span> 
                            </div>
                        </a>
                        <a href="../../fi/{{location.folder}}">
                            <div class="language-container last">
                                <span class="fi fi-fi"></span>
                                <span class="name">Suomi</span>
                            </div>
                        </a>
                        {{/if}}
                    </div>
                </div>
                <link rel="stylesheet" href="../../style/no-script-locale-dropdown.css">
            </noscript>
        </div>
        <!--If script is enabled, insert standard dropdowns through JS-->
        <script>
            redirect_dropdowns = document.querySelector(".redirect-dropdowns");
            redirect_dropdowns.insertAdjacentHTML('afterbegin', `
            <div onclick="toggleDropdown('location')" class="redirect-dropdown">
                <div id="location-dropdown-head" class="redirect-dropdown-head">
                    {{#if location.kiruna}}
                    <span class="name">Kiruna</span> 
                    {{else if location.lulea}}
                    <span class="name">Luleå</span> 
                    {{/if}}
                    <img src="../../assets/icons/icons8-expand-arrow-48.png" id="location-dropdown-arrow" alt="down arrow" width="18">
                </div>
                <div id="location-dropdown-content" class="redirect-dropdown-content">
                    {{#if location.kiruna}}
                    <div class="location-container first" data-value="{{location.folder}}">
                        <span class="name">Kiruna</span> 
                    </div>
                    <div class="location-container last" data-value="{{location.redirect_locations.lulea}}">
                        <span class="name">Luleå</span> 
                    </div>
                    {{else if location.lulea}}
                    <div class="location-container first" data-value="{{location.folder}}">
                        <span class="name">Luleå</span> 
                    </div>
                    <div class="location-container last" data-value="{{location.redirect_locations.kiruna}}">
                        <span class="name">Kiruna</span> 
                    </div>
                    {{/if}}
                </div>
            </div>
            `);

            redirect_dropdowns.insertAdjacentHTML('beforeend', `
            <div onclick="toggleDropdown('locale')" class="redirect-dropdown" id="locale-dropdown">
                <div id="locale-dropdown-head" class="redirect-dropdown-head">
                    {{#if lang.se}}
                    <span class="fi fi-se"></span> <!--Flag icon. The country is specified through fi-xx, where xx is replaced with the country code.-->
                    <span class="name">Svenska</span> 
                    {{else if lang.fi}}
                    <span class="fi fi-fi"></span> <!--Flag icon. The country is specified through fi-xx, where xx is replaced with the country code.-->
                    <span class="name">Suomi</span> 
                    {{else if lang.en}}
                    <span class="fi fi-gb"></span> <!--Flag icon. The country is specified through fi-xx, where xx is replaced with the country code.-->
                    <span class="name">English</span> 
                    {{/if}}
                    <img src="../../assets/icons/icons8-expand-arrow-48.png" id="locale-dropdown-arrow" alt="down arrow" width="18">
                </div>
                <div id="locale-dropdown-content" class="redirect-dropdown-content">
                    {{#if lang.se}}
                    <div class="language-container first" data-value="se">
                        <span class="fi fi-se"></span>
                        <span class="name">Svenska</span> 
                    </div>
                    <div class="language-container" data-value="fi">
                        <span class="fi fi-fi"></span>
                        <span class="name">Suomi</span>
                    </div>
                    <div class="language-container last" data-value="en">
                        <span class="fi fi-gb"></span>
                        <span class="name">English</span>
                    </div>
                    {{else if lang.fi}}
                    <div class="language-container first" data-value="fi">
                        <span class="fi fi-fi"></span>
                        <span class="name">Suomi</span>
                    </div>
                    <div class="language-container" data-value="en">
                        <span class="fi fi-gb"></span>
                        <span class="name">English</span>
                    </div>
                    <div class="language-container last" data-value="se">
                        <span class="fi fi-se"></span>
                        <span class="name">Svenska</span> 
                    </div>
                    {{else if lang.en}}
                    <div class="language-container first" data-value="en">
                        <span class="fi fi-gb"></span>
                        <span class="name">English</span>
                    </div>
                    <div class="language-container" data-value="se">
                        <span class="fi fi-se"></span>
                        <span class="name">Svenska</span> 
                    </div>
                    <div class="language-container last" data-value="fi">
                        <span class="fi fi-fi"></span>
                        <span class="name">Suomi</span>
                    </div>
                    {{/if}}
                </div>
            </div>
            `);
        </script>

        <button class="hamburger-menu" aria-label="Toggle menu">
            &#9776;
        </button>

        <div class="dropdown-menu">
            <a href="#open-hours-section">{{lang.open_hours}}</a>
            <a href="#our-cars-section">{{lang.our_cars}}</a>
            <a href="#delivery-section">{{lang.delivery}}</a>
            <a href="#closed-dates-container">{{lang.closed_dates}}</a>
        </div>
    </header>

    <main>
        <section class="welcome-section">
            <div class="background-image">
                <img src="../../assets/images/row_of_cars_no_car_no_pillar1080.jpeg" alt="{{lang.background_image}}">
            </div>

            <h1>{{lang.welcome}}, {{location.location}}</h1>

            <p>
                {{lang.phone_contact_pt1}}
                <a href="tel:{{location.phone_number_html}}">{{location.phone_number_text}}</a>
                {{lang.phone_contact_pt2}}
            </p>
        </section>

        <section class="open-hours-section" id="open-hours-section">
            <h2>{{lang.open_hours}}</h2>

            <p id="dynamic-open-hours-tag">{{lang.current_status_default}}</p>

            <table class="open-hours-table">
                <tbody>
                    <noscript>
                        {{#each location.open_hours}}
                        <tr>
                            <td data-day="{{this.day}}">{{translate
                                this.day
                                }}</td>
                            <td data-hours="{{this.hours}}">{{translate
                                this.hours
                                }}</td>
                        </tr>
                        {{/each}}
                    </noscript>
                </tbody>
            </table>

            <a href="#closed-dates-container">{{lang.see_closed_dates}}</a>
        </section>

        <section class="our-cars-section" id="our-cars-section">
            <h2>{{lang.our_cars}}</h2>

            <div class="vat-container">
                <button id="vat-button" class="active">{{lang.vat_included}}</button>
                <button id="no-vat-button">{{lang.vat_excluded}}</button>
            </div>

            <table class="our-cars-table" id="our-cars-table">
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">{{lang.car}}
                            <span id="ascending-0">&#9652;</span>
                            <span id="neutral-0">&#9656;</span>
                            <span id="descending-0">&#9662;</span>
                            <span id="tool-tip-ascending-0" class="tool-tip">{{lang.sort_decending}}</span>
                            <span id="tool-tip-descending-0" class="tool-tip">{{lang.sort_ascending}}</span>
                        </th>
                        <th onclick="sortTable(1)">{{lang.year_model}}
                            <span id="ascending-1">&#9652;</span>
                            <span id="neutral-1">&#9656;</span>
                            <span id="descending-1">&#9662;</span>
                            <span id="tool-tip-ascending-1" class="tool-tip">{{lang.sort_decending}}</span>
                            <span id="tool-tip-descending-1" class="tool-tip">{{lang.sort_ascending}}</span>
                        </th>
                        <th onclick="sortTable(2)">{{lang.price}}
                            <span id="ascending-2">&#9652;</span>
                            <span id="neutral-2">&#9656;</span>
                            <span id="descending-2">&#9662;</span>
                            <span id="tool-tip-ascending-2" class="tool-tip">{{lang.sort_decending}}</span>
                            <span id="tool-tip-descending-2" class="tool-tip">{{lang.sort_ascending}}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each cars}}
                    <tr>
                        <td>{{CarName}}</td>
                        <td>{{CarYearModel}}</td>
                        <td class="price">{{CarPrice}} kr</td>
                    </tr> 
                    {{/each}}
                </tbody>
            </table>
        </section>

        <section class="delivery-section" style="display: none;" id="delivery-section">
            <!-- Unhides this section if js is enabled, otherwise it will be hidden -->
            <script>document.querySelector(".delivery-section").style.display =
                    "flex"</script>

            <h2>{{lang.delivery}}</h2>

            <p>{{lang.delivery_description}}</p>

            <div class="input-container">
                <input type="number" placeholder="{{lang.zip_code}}" id="zip-input">
                <button id="zip-button">{{lang.search}}</button>
            </div>

            <p id="delivery-status-tag"></p>

            <div class="background-image">
                <img src="../../assets/images/car_on_map1080.jpg" alt="{{lang.background_image}}">
            </div>
        </section>

        <noscript>
            <section class="delivery-section-noscript">
                <h2>{{lang.delivery}}</h2>

                <p>{{lang.delivery_description}}</p>

                <table class="delivery-table">
                    <thead>
                        <tr>
                            <th>{{lang.zip_code}}</th>
                            <th>{{lang.price}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each location.zip_codes}}
                        <tr>
                            <td>{{this.zip_code}}</td>
                            <td>{{this.price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div class="background-image">
                    <img src="../../assets/images/car_on_map1080.jpg" alt="{{lang.background_image}}">
                </div>
            </section>
        </noscript>
        <section class="closed-dates-section" id="closed-dates-container">
            <h2>{{lang.closed_dates}}</h2>

            <table class="closed-dates-table">
                <tbody>
                    <tr data-month="0" data-day="1">
                        <td data-key="january_1">{{lang.january_1}}</td>
                        <td data-key="new_years_day">{{lang.new_years_day}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="0" data-day="6">
                        <td data-key="january_6">{{lang.january_6}}</td>
                        <td data-key="epiphany">{{lang.epiphany}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="4" data-day="1">
                        <td data-key="may_1">{{lang.may_1}}</td>
                        <td data-key="labour_day">{{lang.labour_day}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="5" data-day="6">
                        <td data-key="june_6">{{lang.june_6}}</td>
                        <td data-key="national_day">{{lang.national_day}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="11" data-day="24">
                        <td data-key="december_24">{{lang.december_24}}</td>
                        <td data-key="christmas_eve">{{lang.christmas_eve}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="11" data-day="25">
                        <td data-key="december_25">{{lang.december_25}}</td>
                        <td data-key="christmas_day">{{lang.christmas_day}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="11" data-day="26">
                        <td data-key="december_26">{{lang.december_26}}</td>
                        <td data-key="boxing_day">{{lang.boxing_day}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                    <tr data-month="11" data-day="31">
                        <td data-key="december_31">{{lang.december_31}}</td>
                        <td data-key="new_years_eve">{{lang.new_years_eve}}</td>
                        <td data-key="closed">{{lang.closed}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <h4>{{lang.phone}}</h4>
            <a href="tel:{{location.phone_number_html}}">{{location.phone_number_text}}</a>
        </div>

        <div class="footer-container">
            <h4>{{lang.email}}</h4>
            <a href="mailto:{{location.mail}}">{{location.mail}}</a>
        </div>

        <div class="footer-container">
            <h4>{{lang.address}}</h4>
            <a href="https://maps.app.goo.gl/5c7N2tctTDWgJgYr7">{{location.address}},
                {{location.zip_code}}
                {{location.city}}</a>
        </div>

        <div id="social-media-container">
            <a href="https://facebook.com/ntiuppsala">
                <img src="../../assets/icons/icons8-facebook-material-outlined/icons8-facebook-192.png" data-source="https://icons8.com/icon/85330/facebook" alt="Facebook">
            </a>
            <a href="https://instagram.com/ntiuppsala">
                <img src="../../assets/icons/icons8-instagram-material-outlined/icons8-instagram-192.png" data-source="https://icons8.com/icon/85342/instagram" alt="Instagram">
            </a>
            <a href="https://x.com/ntiuppsala">
                <img src="../../assets/icons/icons8-twitterx-material-outlined/icons8-twitterx-192.png" data-source="https://icons8.com/icon/AsTsQrvtZVNv/twitterx" alt="X/Twitter">
            </a>
        </div>

        <div class="footer-container">
            <h4 class="footer-header">{{lang.open_hours}}</h4>
            <table class="open-hours-table">
                <tbody>
                    <noscript>
                        {{#each location.open_hours}}
                        <tr>
                            <td data-day="{{this.day}}">{{translate
                                this.day
                                }}</td>
                            <td data-hours="{{this.hours}}">{{translate
                                this.hours
                                }}</td>
                        </tr>
                        {{/each}}
                    </noscript>
                </tbody>
            </table>
        </div>

        <p id="copyright-info">© 2024 NTB Biluthyrning</p>
    </footer>
    <div id="lang" style="display: none;">{{lang.folder}}</div>
    <div id="location" style="display: none;">{{location.folder}}</div>
</body>

</html>