<!DOCTYPE html>
<html lang="{{lang.lang}}">
    <head>
        <meta name="robots" content="noindex, nofollow" />
        <meta name="googlebot" content="noindex, nofollow" />

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{lang.ntb_car_rental}}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/ntbfavicon_io/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/ntbfavicon_io/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/ntbfavicon_io/favicon-16x16.png" />
        <link rel="manifest" href="assets/icons/ntbfavicon_io/site.webmanifest" />

        <!-- Google fonts import -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap" rel="stylesheet" />

        <!-- Adobe font import -->
        <link rel="stylesheet" href="https://use.typekit.net/juf0kst.css" />

        <link rel="stylesheet" href="css/variables.css" />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/flag-icons/css/flag-icons.min.css" />
        <link rel="stylesheet" href="css/no-script-hamburger-menu.css" />

        <script src="js/callBackend"></script>
        <script defer src="js/switchLocationAndLocale.js"></script>
        <script defer src="js/currencyExchange.js"></script>
        <script src="js/toggleDropdown.js"></script>
        <script src="js/dropdownPreventHighlight.js"></script>
        <script src="js/listOfZIPCodes.js"></script>
        <script src="js/data/localizationData.js"></script>
        <script defer src="js/checkZIPCode.js"></script>
        <script defer src="js/vatOnCars.js"></script>
        <script defer src="js/sortTableRows.js"></script>
        <script defer src="js/filterTableRows.js"></script>
        <script defer src="js/showScript.js"></script>

        <!-- Make sure this script is loaded last for testing purposes -->
        <script defer src="js/loadsLastForTests.js"></script>
    </head>

    <body>
        <header>
            <a href="." id="homepage-redirect">
                <img id="ntb-logo" src="assets/images/NTB_logo.jpg" alt="{{lang.ntb}}" />
                <p class="header-text">{{lang.car_rental}} - {{location.location}}</p>
            </a>

            <nav class="nav-bar script">
                <a href="#open-hours-section">{{lang.open_hours}}</a>
                <a href="#our-cars-section">{{lang.our_cars}}</a>
                <a href="#delivery-section">{{lang.delivery}}</a>
                <a href="#closed-dates-container">{{lang.closed_dates}}</a>
            </nav>

            <noscript>
                <nav class="nav-bar">
                    <a href="#open-hours-section">{{lang.open_hours}}</a>
                    <a href="#our-cars-section">{{lang.our_cars}}</a>
                    <a href="#delivery-section-noscript">{{lang.delivery}}</a>
                    <a href="#closed-dates-container">{{lang.closed_dates}}</a>
                </nav>
            </noscript>

            <form action="/POST/location" method="post">
                <input type="hidden" name="route" value="" />
                <select name="location" onchange="this.form.submit()">
                    {{#each (order location.locations location.key "code")}}
                        <option value="{{this.code}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <noscript>
                    <button type="submit">{{lang.submit}}</button>
                </noscript>
            </form>
            <form action="/POST/language" method="post">
                <input type="hidden" name="route" value="" />
                <select name="language" onchange="this.form.submit()">
                    {{#each (order location.languages lang.lang "code")}}
                        <option value="{{this.code}}">{{this.name}}</option>
                    {{/each}}
                </select>
                <noscript>
                    <button type="submit">{{lang.submit}}</button>
                </noscript>
            </form>
            <section>
                <button>
                    &#9776;
                </button>
                <nav>
                    <a href="#open-hours-section">{{lang.open_hours}}</a>
                    <a href="#our-cars-section">{{lang.our_cars}}</a>
                    <a href="#delivery-section">{{lang.delivery}}</a>
                    <a href="#closed-dates-container">{{lang.closed_dates}}</a>
                </nav>
            </section>
        </header>
        <main>
            <section class="welcome-section">
                <div class="background-image">
                    <img src="assets/images/row_of_cars_no_car_no_pillar1080.jpeg" alt="{{lang.background_image}}" />
                </div>

                <h1>{{lang.welcome}}, {{location.location}}</h1>

                <p>
                    {{lang.phone_contact_pt1}}
                    <a href="tel:{{location.phone_number_html}}">{{location.phone_number_text}}</a>
                    {{lang.phone_contact_pt2}}
                </p>
            </section>

            <section class="open-hours-section" id="open-hours-section">
                <h2>{{lang.open_hours}}</h2>
                <p id="dynamic-open-hours-tag">{{currentStatus location lang}}</p>
                <table class="open-hours-table">
                    <tbody>
                        {{#each (merge location.open_hours location.special_open_hours lang)}}
                            <tr>
                                <td data-day="{{this.day}}">{{translate @root.lang this.day}}</td>
                                <td data-hours="{{this.hours}}">{{translate @root.lang this.hours}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

                <a href="#closed-dates-container">{{lang.see_closed_dates}}</a>
            </section>

            <section class="our-cars-section" id="our-cars-section">
                <h2>{{lang.our_cars}}</h2>

                <div class="vat-container">
                    <button id="vat-button" class="active">{{lang.vat_included}}</button>
                    <button id="no-vat-button">{{lang.vat_excluded}}</button>
                </div>

                <div class="input-container">
                    <input type="search" placeholder="{{lang.car_search_placeholder}}" id="car-search-input" oninput="searchTable()" />
                    <button id="car-search-button" onclick="searchTable()"><img src="assets/icons/icons8-search.svg" alt="Search icon" /></button>
                </div>

                <table class="our-cars-table" id="our-cars-table">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0)">{{lang.car}}
                                <span id="ascending-0">&#9652;</span>
                                <span id="neutral-0">&#9656;</span>
                                <span id="descending-0">&#9662;</span>
                                <span id="tool-tip-ascending-0" class="tool-tip">{{lang.sort_descending}}</span>
                                <span id="tool-tip-descending-0" class="tool-tip">{{lang.sort_ascending}}</span>
                            </th>
                            <th onclick="sortTable(1)">{{lang.year_model}}
                                <span id="ascending-1">&#9652;</span>
                                <span id="neutral-1">&#9656;</span>
                                <span id="descending-1">&#9662;</span>
                                <span id="tool-tip-ascending-1" class="tool-tip">{{lang.sort_descending}}</span>
                                <span id="tool-tip-descending-1" class="tool-tip">{{lang.sort_ascending}}</span>
                            </th>
                            <th onclick="sortTable(2)">{{lang.price}}
                                <span id="ascending-2">&#9652;</span>
                                <span id="neutral-2">&#9656;</span>
                                <span id="descending-2">&#9662;</span>
                                <span id="tool-tip-ascending-2" class="tool-tip">{{lang.sort_descending}}</span>
                                <span id="tool-tip-descending-2" class="tool-tip">{{lang.sort_ascending}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each location.cars}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.year}}</td>
                                <td class="price" data-price-sek="{{this.price}}">{{this.price}} kr</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>

            <section class="delivery-section" style="display: none;" id="delivery-section">
                <!-- Shows this section if js is enabled, otherwise it will be hidden -->
                <script>document.querySelector(".delivery-section").style.display = "flex"</script>

                <h2>{{lang.delivery}}</h2>

                <p>{{lang.delivery_description}}</p>

                <div class="input-container">
                    <input type="number" placeholder="{{lang.zip_code}}" id="zip-input" />
                    <button id="zip-button"><img src="assets/icons/icons8-search.svg" alt="Search icon" /></button>
                </div>

                <p id="delivery-status-tag"></p>

                <div class="background-image">
                    <img src="assets/images/car_on_map1080.jpg" alt="{{lang.background_image}}" />
                </div>
            </section>

            <noscript>
                <section class="delivery-section-noscript" id="delivery-section-noscript">
                    <h2>{{lang.delivery}}</h2>

                    <p>{{lang.delivery_description}}</p>

                    <table class="delivery-table">
                        <thead>
                            <tr>
                                <th>{{lang.zip_code}}</th>
                                <th>{{lang.price}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each location.zip_codes}}
                                <tr>
                                    <td>{{this.zip_code}}</td>
                                    <td>{{this.price}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <div class="background-image">
                        <img src="assets/images/car_on_map1080.jpg" alt="{{lang.background_image}}" />
                    </div>
                </section>
            </noscript>
            <section class="closed-dates-section" id="closed-dates-container">
                <h2>{{lang.closed_dates}}</h2>

                <table class="closed-dates-table">
                    <tbody>
                        {{#each (sort location.closed_dates)}}
                            <tr>
                                <td>{{translate @root.lang this.date_key}}</td>
                                <td>{{translate @root.lang this.name_key}}</td>
                                <td>{{translate @root.lang this.hours}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>
        </main>
        <footer>
            <section>
                <h4>{{lang.phone}}</h4>
                <a href="tel:{{location.phone_number_html}}" target="_blank">{{location.phone_number_text}}</a>
            </section>

            <section>
                <h4>{{lang.email}}</h4>
                <a href="mailto:{{location.mail}}" target="_blank">{{location.mail}}</a>
            </section>

            <section>
                <h4>{{lang.address}}</h4>
                <a href="https://maps.app.goo.gl/5c7N2tctTDWgJgYr7" target="_blank">{{location.address}},
                    {{location.zip_code}}
                    {{location.city}}</a>
            </section>

            <section id="social-media-container">
                <h4>{{lang.social_media}}</h4>
                {{#each location.social_medias}}
                    <a href="{{this.url}}" target="_blank">
                        <img src="{{this.icon}}" data-source="{{this.source}}" alt="{{this.name}}" />
                    </a>
                {{/each}}
            </section>

            <section>
                <h4>{{lang.open_hours}}</h4>
                <table class="open-hours-table">
                    <tbody>
                        {{#each (merge location.open_hours location.special_open_hours lang)}}
                            <tr>
                                <td data-day="{{this.day}}">{{translate @root.lang this.day}}</td>
                                <td data-hours="{{this.hours}}">{{translate @root.lang this.hours}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </section>

            <p id="copyright-info">© 2024 NTB Biluthyrning</p>
        </footer>
        <div id="data" style="display: none;" data-lang="{{lang.folder}}" data-location="{{location.folder}}"></div>
    </body>
</html>