<!DOCTYPE html>
<html lang="{{lang.lang}}">

<head>
   <meta name="robots" content="noindex, nofollow" />
   <meta name="googlebot" content="noindex, nofollow" />

   <noscript>
      <meta http-equiv="refresh" content="0;url=/noscript">
   </noscript>

   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="../scss/admin-pages.scss">

   <title>{{lang.admin}}</title>
</head>

<body class="admin-panel-page">
   <header>
      <h1>NTB - {{lang.admin_panel_header}}</h1>

      <a href="..">{{lang.admin_back_to_index}}</a>
   </header>

   <main>
      <section class="info-bubble">
         <h2>{{lang.admin_contact_info}}</h2>

         <form>
            <label for="phone-number">{{lang.phone}}</label>
            <input id="phone-number" type="text">

            <label for="address">{{lang.address}}</label>
            <input id="address" type="text">

            <label for="email">{{lang.email}}</label>
            <input id="email" type="text">

            <button type="submit">{{lang.admin_update_button}}</button>
         </form>
      </section>
      
      <section class="info-bubble">
         <h2>{{lang.admin_contact_info}}</h2>

         <form>
            <label for="phone-number">{{lang.phone}}</label>
            <input id="phone-number" type="text">

            <label for="address">{{lang.address}}</label>
            <input id="address" type="text">

            <label for="email">{{lang.email}}</label>
            <input id="email" type="text">

            <button type="submit">{{lang.admin_update_button}}</button>
         </form>
      </section>

      <section class="info-bubble">
         <h2>{{lang.admin_contact_info}}</h2>

         <form>
            <label for="phone-number">{{lang.phone}}</label>
            <input id="phone-number" type="text">

            <label for="address">{{lang.address}}</label>
            <input id="address" type="text">

            <label for="email">{{lang.email}}</label>
            <input id="email" type="text">

            <button type="submit">{{lang.admin_update_button}}</button>
         </form>
      </section>

      <section class="info-bubble">
         <h2>{{lang.admin_contact_info}}</h2>

         <form>
            <label for="phone-number">{{lang.phone}}</label>
            <input id="phone-number" type="text">

            <label for="address">{{lang.address}}</label>
            <input id="address" type="text">

            <label for="email">{{lang.email}}</label>
            <input id="email" type="text">

            <button type="submit">{{lang.admin_update_button}}</button>
         </form>
      </section>

      <section class="info-bubble">
         <h2>{{lang.admin_contact_info}}</h2>

         <form>
            <label for="phone-number">{{lang.phone}}</label>
            <input id="phone-number" type="text">

            <label for="address">{{lang.address}}</label>
            <input id="address" type="text">

            <label for="email">{{lang.email}}</label>
            <input id="email" type="text">

            <button type="submit">{{lang.admin_update_button}}</button>
         </form>
      </section>

      <section class="info-bubble">
         <h2>{{lang.admin_contact_info}}</h2>

         <form>
            <label for="phone-number">{{lang.phone}}</label>
            <input id="phone-number" type="text">

            <label for="address">{{lang.address}}</label>
            <input id="address" type="text">

            <label for="email">{{lang.email}}</label>
            <input id="email" type="text">

            <button type="submit">{{lang.admin_update_button}}</button>
         </form>
      </section>
   </main>
</body>

</html>